<h1><%= @shiraishi_profile.name %> カテゴリ：<%= @shiraishi_profile.climb_category %></h1>
<p> 距離: <%= @shiraishi_profile.distance %></p>
<p> 斜度: <%= @shiraishi_profile.average_grade %></p>

<h1>あなたは白石峠御百度参りを<%= @shiraishi_100 ? '達成してます' : '達成してません' %></h1>
<p> 現在：<%= @shiraishi_count %>回登りました！</p>
<% if !@shiraishi_100 %>
  <p> あと <%= 100 - @shiraishi_count %>回登れば達成です！</p>
<% end %>

<h1><%= @athlete.firstname %>のプロフィールを読み込みました</h1>
<p> id: <%= @athlete.id %></p>
<p> username: <%= @athlete.username %></p>
<p> resource_state: <%= @athlete.resource_state %></p>
<p> firstname: <%= @athlete.firstname %></p>
<p> lastname: <%= @athlete.lastname %></p>
<p> city: <%= @athlete.city %></p>
<p> state: <%= @athlete.state %></p>
<p> country: <%= @athlete.country %></p>
<p> sex: <%= @athlete.sex %></p>
<p> premium: <%= @athlete.premium %></p>
<p> summit: <%= @athlete.summit %></p>
<p> created_at: <%= @athlete.created_at %></p>
<p> updated_at: <%= @athlete.updated_at %></p>
<p> badge_type_id: <%= @athlete.badge_type_id %></p>
<p> weight: <%= @athlete.weight %></p>
<p> profile_medium: <%= @athlete.profile_medium %></p>
<p> profile: <%= @athlete.profile %></p>
<p> friend: <%= @athlete.friend %></p>
<p> follower: <%= @athlete.follower %></p>
